.container{
    padding: 20px;
}

.head hr{
    border: 1px solid green;
    width:50%;
    margin: auto;
    margin-bottom: 20px;
}

.head{
    color: green;
}

/* Form styles */
form{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
}

label{
    color: green;
}

.afterSub{
    color: green;
    padding: 20px;
}

.afterSub hr{
    border: 1px solid green;
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
}

.content{
    border: 2px solid green;
    padding: 10px;
}