<div class="container">

  <!-- Registration form -->

  <form [formGroup]="registrationForm">

    <div class="head text-center">
      <h1>Register</h1>
      <hr>
    </div>

    <!-- Username -->
    <div class="form-group">
      <label class="mb-1"><strong>Username</strong></label>
      <input type="text" class="form-control" formControlName="userName" [class.is-invalid]=" userName?.invalid && userName?.dirty">

      <!-- Username error messages -->
      <div class="text-danger" *ngIf="userName?.invalid && userName?.dirty">
        <small *ngIf="userName?.errors?.['required']">Username is required.</small>
        <small *ngIf="userName?.errors?.['minlength']">Username must be at least 3 characters</small>
        <small *ngIf="userName?.errors?.['forbiddenWords']">{{userName?.errors?.['forbiddenWords'].value}} username not allowed</small>
        <small *ngIf="userName?.errors?.['restrictedTerms']">You are not allowed to use {{userName?.errors?.['restrictedTerms'].value}} in your username.</small>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Email</strong></label>
      <input type="email" class="form-control" formControlName="email" [class.is-invalid]="email?.errors && email?.dirty">

      <!-- Email error messages -->
      <div class="text-danger" *ngIf="email?.invalid && email?.dirty">
        <small *ngIf="email?.errors?.['pattern']">Invalid email address</small>
        <small *ngIf="email?.errors?.['required']">Email is required</small>
      </div>

      <!-- Alternative emails loop -->
      <div class="emails" formArrayName="alternativeEmails" *ngFor="let email of alternativeEmail.controls , let i = index">
        <input type="email" [formControlName]="i" class="form-control">
      </div>

      <!-- Alternative email button -->
      <button type="button" class="btn btn-outline-info btn-sm m-3" (click)="addAlternativeEmail()">Add alternative email</button>

    </div>

    <!-- Promotional offers checkbox -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="subscribe">
      <label class="form-check-label"><strong>Send me promotional offers</strong></label>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Password</strong></label>
      <input type="password" class="form-control" formControlName="password" [class.is-invalid]="password?.invalid && password?.dirty">

      <!-- Error message -->
      <div class="text-danger" *ngIf="password?.errors">
        <small *ngIf="password?.errors?.['minlength']">Password must have at least 5 characters</small>
      </div>

    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Confirm Password</strong></label>
      <input type="password" class="form-control" formControlName="confirmPassword" [class.is-invalid]="registrationForm.errors?.['misMatch']">

      <!-- Mis Match error message -->
      <div class="text-danger" *ngIf="registrationForm.errors?.['misMatch']">
        <small *ngIf="registrationForm.errors?.['misMatch']">Password do not match</small>
      </div>

    </div>

    <!-- Address form group -->
    <div class="group" formGroupName="address">

      <!-- State -->
      <div class="form-group">
        <label class="mb-1 mt-3"><strong>State</strong></label>
        <input type="text" class="form-control" formControlName="state">
      </div>

      <!-- City -->
      <div class="form-group">
        <label class="mb-1 mt-3"><strong>City</strong></label>
        <input type="text" class="form-control" formControlName="city">
      </div>

      <!-- Postal code -->
      <div class="form-group">
        <label class="mb-1 mt-3"><strong>Postal Code</strong></label>
        <input type="text" class="form-control" formControlName="postalCode">
      </div>

    </div>

    <!-- Buttons -->
    <button type="submit" class="btn btn-outline-primary m-2">Submit</button>
    <button type="button" class="btn btn-outline-info m-2" (click)="setValue()">Set Value</button>
    <button type="button" class="btn btn-outline-danger m-2" (click)="patchValue()">Patch Value</button>

    <hr><hr>

    <!-- Visualization with jason -->
  <div class="visualization">

    <h2 class="text-center">Visualization with JSON</h2>
    <hr>

    <p>{{registrationForm.value | json}}</p>

  </div>

  </form>

  <!-- End of the form -->

</div>