<div class="container">

  <!-- Registration form -->

  <form [formGroup]="registrationForm">

    <div class="head text-center">
      <h1>Register</h1>
      <hr>
    </div>

    <!-- Username -->
    <div class="form-group">
      <label class="mb-1"><strong>Username</strong></label>
      <input type="text" class="form-control" formControlName="userName">
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Email</strong></label>
      <input type="email" class="form-control" formControlName="email">

      <!-- Alternative email button -->
      <button type="button" class="btn btn-outline-info btn-sm m-3">Add alternative email</button>

    </div>

    <!-- Promotional offers checkbox -->
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="subscribe">
      <label class="form-check-label"><strong>Send me promotional offers</strong></label>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Password</strong></label>
      <input type="password" class="form-control" formControlName="password">
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label class="mb-1 mt-3"><strong>Confirm Password</strong></label>
      <input type="password" class="form-control" formControlName="confirmPassword">
    </div>

    <!-- Address form group -->
    <div class="group">

      <div class="form-group">
        <label class="mb-1 mt-3"><strong>State</strong></label>
        <input type="text" class="form-control" formControlName="state">
      </div>

      <div class="form-group">
        <label class="mb-1 mt-3"><strong>City</strong></label>
        <input type="text" class="form-control" formControlName="city">
      </div>

      <div class="form-group">
        <label class="mb-1 mt-3"><strong>Postal Code</strong></label>
        <input type="text" class="form-control" formControlName="postalCode">
      </div>

    </div>

    <!-- Buttons -->
    <button type="submit" class="btn btn-outline-primary m-2">Submit</button>
    <button type="button" class="btn btn-outline-info m-2">Set Value</button>
    <button type="button" class="btn btn-outline-danger m-2">Patch Value</button>

    <hr><hr>

    <!-- Visualization with jason -->
  <div class="visualization">

    <h2 class="text-center">Visualization with JSON</h2>
    <hr>

    <p>{{registrationForm.value | json}}</p>

  </div>

  </form>

  <!-- End of the form -->

</div>