/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Nova Round', cursive;
}

body{
    background: beige;
}

.container{
    padding: 20px;
}

.head hr{
    border: 1px solid green;
    width: 50%;
    margin: auto;
}

.head{
    color: green;
}